@{
    ViewBag.Title = "Webstar Development";
    Layout = "~/Views/Home/HomeLayout.cshtml";
}

<section id="about" data-scroll-index="0">
    <div class="container">

        <div class="section-heading wow fadeInDown">
            <h1>Services</h1>
            <div class="divider"></div>
            <p>A wide array of services.</p>
        </div>

        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="about-item wow fadeInUp">
                    <i class="fa fa-eye fa-2x"></i>
                    <h3>Web Design</h3>
                    <p>A professionally designed web site shows you take your business seriously. Customers notice.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="about-item wow fadeInUp">
                    <i class="fa fa-mobile fa-2x"></i>
                    <h3>Mobile Applications</h3>
                    <p>Responsive design, touch enabled, cross-platform device services like camera, contacts and geolocation.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="about-item wow fadeInRight">
                    <i class="fa fa-globe fa-2x"></i>
                    <h3>Web Development</h3>
                    <p>Small business web presence or full featured enterprise CMS (content management system).</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="about-item wow fadeInLeft">
                    <i class="fa fa-shield fa-2x"></i>
                    <h3>Corporate Branding</h3>
                    <p>Create a memorable impression with your customers accross all major media channels.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="features" data-scroll-index="1">
    <div class="container">
        <div class="section-heading inverse wow fadeInDown">
            <h1>Skills</h1>
            <div class="divider"></div>
            <p>I have specialized skills in these areas.</p>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 wow fadeInLeft">
                <div class="media media-left feature">
                    <a class="pull-right" href="#">
                        <i class="fa fa-code fa-2x"></i>
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading">HTML5/CSS3/Javascript</h3>
                        Web development technologies and frameworks.
                    </div>
                </div>
                <div class="media media-left feature">
                    <a class="pull-right" href="#">
                        <i class="fa fa-cogs fa-2x"></i>
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading">ASP.NET/MVC/Entity</h3>
                        Why ASP.NET? Simple... It's just business.
                    </div>
                </div>
                <div class="media media-left feature">
                    <a class="pull-right" href="#">
                        <i class="fa fa-bullseye fa-2x"></i>
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading">Targeted Marketing</h3>
                        SEO, Ad Campaigns, Email, Rebranding.
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 wow fadeInRight">
                <div class="media feature">
                    <a class="pull-left" href="#">
                        <i class="fa fa-pencil fa-2x"></i>
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading">Illustration</h3>
                        Corporate Logos, Custom Icons and Identity Systems
                    </div>
                </div>
                <div class="media feature">
                    <a class="pull-left" href="#">
                        <i class="fa fa-film fa-2x"></i>
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading">Video Production</h3>
                        Video Capture, Editing, Production
                    </div>
                </div>
                <div class="media feature">
                    <a class="pull-left" href="#">
                        <i class="fa fa-picture-o fa-2x"></i>
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading">Photo Editing</h3>
                        Color Correction, Compositing, Retouching
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="work" data-scroll-index="2">
    <div class="container">
        <div class="section-heading wow fadeInDown">
            <h1>Work</h1>
            <div class="divider"></div>
            <p>See what's new.</p>
        </div>

        <div class="team">
            <div class="teamrow row">
                <div class="team-item col-xs-12 col-sm-4">
                    <div class="team-entry img-circle wow fadeInLeft">
                        <a class="team-img" href="#">
                            <img class="img-responsive" src='@Url.Content("~/Content/img/freeze/business_app_sm.jpg")' alt="">
                        </a>
                        <div class="team-hover table-view">
                            <div class="cell-view">
                                <div class="team-name">Corporation/Business</div>
                                <div class="team-social">
                                    <a title="Corporation/Business" href='@Url.Content("~/Content/img/freeze/business_app_lg.jpg")' data-lightbox-gallery="gallery1"><i class="fa fa-expand"></i></a>
                                    <a href="http://webstarbus.azurewebsites.net" target="_blank"><i class="fa fa-chain"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-item col-xs-12 col-sm-4">
                    <div class="team-entry img-circle wow fadeIn">
                        <a class="team-img" href="#">
                            <img class="img-responsive" src='@Url.Content("~/Content/img/freeze/medical_app_sm.jpg")' alt="">
                        </a>
                        <div class="team-hover table-view">
                            <div class="cell-view">
                                <div class="team-name">Medical Office</div>
                                <div class="team-social">
                                    <a title="Doctors Office" href='@Url.Content("~/Content/img/freeze/medical_app_lg.jpg")' data-lightbox-gallery="gallery1"><i class="fa fa-expand"></i></a>
                                    <a href="http://webstarmed.azurewebsites.net" target="_blank"><i class="fa fa-chain"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-item col-xs-12 col-sm-4">
                    <div class="team-entry img-circle wow fadeInRight">
                        <a class="team-img" href="#">
                            <img class="img-responsive" src='@Url.Content("~/Content/img/freeze/epic_app_sm.jpg")' alt="">
                        </a>
                        <div class="team-hover table-view">
                            <div class="cell-view">
                                <div class="team-name">Interior Design</div>
                                <div class="team-social">
                                    <a title="Lander University" href='@Url.Content("~/Content/img/freeze/epic_app_lg.jpg")' data-lightbox-gallery="gallery1"><i class="fa fa-expand"></i></a>
                                    <a href="http://webstarinteriors.azurewebsites.net" target="_blank"><i class="fa fa-chain"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="teamrow row">
                <div class="team-item col-xs-12 col-sm-offset-2 col-sm-4">
                    <div class="team-entry img-circle wow fadeInLeft">
                        <a class="team-img" href="#">
                            <img class="img-responsive" src='@Url.Content("~/Content/img/freeze/hub_app_sm.jpg")' alt="">
                        </a>
                        <div class="team-hover table-view">
                            <div class="cell-view">
                                <div class="team-name">Product Support</div>
                                <div class="team-social">
                                    <a title="The Hub" href='@Url.Content("~/Content/img/freeze/hub_app_lg.jpg")' data-lightbox-gallery="gallery1"><i class="fa fa-expand"></i></a>
                                    <a href="https://hub.redsailtechnologies.com" target="_blank"><i class="fa fa-chain"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-item col-xs-12 col-sm-4">
                    <div class="team-entry img-circle wow fadeInRight">
                        <a class="team-img" href="#">
                            <img class="img-responsive" src='@Url.Content("~/Content/img/freeze/master_app_sm.jpg")' alt="">
                        </a>
                        <div class="team-hover table-view">
                            <div class="cell-view">
                                <div class="team-name">Design/Development</div>
                                <div class="team-social">
                                    <a title="MasterApp Services" href='@Url.Content("~/Content/img/freeze/master_app_lg.jpg")' data-lightbox-gallery="gallery1"><i class="fa fa-expand"></i></a>
                                    <a href="http://webstarmasterapp.azurewebsites.net" target="_blank"><i class="fa fa-chain"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-heading wow fadeInDown">
            <p><a href='@Url.Action("Portfolio", "Home")' class="btn btn-primary btn-lg">See More of My Work</a>
        </div>

    </div>
</section>

<section id="support" class="doublediagonal" data-scroll-index="3">
    <div class="container">
        <div class="section-heading wow fadeInDown">
            <h1>Contact</h1>
            <div class="divider"></div>
            <p>For more info and support, contact me!</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8 col-sm-8 wow fadeInLeft">
                        <form role="form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your email">
                            </div>
                            <div class="form-group">
                                <textarea cols="30" rows="10" class="form-control" placeholder="Your message"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                        </form>
                    </div>
                    <div class="col-md-4 col-sm-4 contact-details wow fadeInRight">
                        <div class="media">
                            <a class="pull-left" href="#">
                                <i class="fa fa-map-marker fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">505 S. Orchard Farms Ave., Simpsonville, SC 29681</h4>
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <i class="fa fa-envelope fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    <a href="mailto:bryan@thewebstar.net">bryan@thewebstar.net</a>
                                </h4>
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-left" href="#">
                                <i class="fa fa-phone fa-2x"></i>
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">+1 864-608-0824</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>